"*":
  core:
    telemetryConsent: "no"
  editor:
    fontSize: 11
  "exception-reporting":
    userId: "dec8296b-741e-4343-9868-27dac336f2be"
  "linter-ui-default":
    panelHeight: 300
  welcome:
    showOnStartup: false
  whitespace:
    removeTrailingWhitespace: true
